body {
  background-color: #1e1e1e;
}

.signIn-section {
  max-width: 800px;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.title {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.page-title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.signIn-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

input {
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}
input:hover {
  outline: #919191 3px solid;
}

input::placeholder {
  text-align: center;
  padding: 10px;
}
input:active {
  outline: #919191 3px solid;
}

.errorsMessage {
  text-align: center;
}

.cotion {
  text-align: center;
}

.submit-button {
  border-radius: 5px;
  width: calc(100% + 20px);
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  background-color: #aaaaaa;
  color: #fff;
}

.go-logIn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  height: 30px;
  margin-top: 5px;
  background-color: #ffffff;
  color: #000;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: none;
}

.go-logIn:hover {
  outline: #919191 solid 3px;
}

.submit-button:hover {
  outline: #fff solid 3px;
}

button {
  border: none;
  outline: #1e1e1e;
  transition: 0.2s ease-in-out all;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
}
